body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}



.game-area {
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid #000;
}

.snake, .food {
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.snake {
    background-color: green;
}

.head {
    background-color: blue;
}

.food {
    background-color: red;
    border-radius: 10px;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    border-radius: 25px;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 24px;
}